.exchangeButton {
  color: white;
  min-width: 20em;
  background-color: #396aff;
  padding: 0.7em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.exchangeButton:focus {
  outline: none;
}

.exchangeButton:disabled {
  outline: none;
  background-color: silver;
}

.exchangeButtonWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}
