input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number']:disabled {
  background-color: white;
}

input[type='number']:focus {
  outline: none;
}

.inputWrapper {
  margin-left: auto;
  margin-top: 0.25em;
}

.input {
  text-align: right;
  font-size: 1.5em;
  width: 160px;
  border: none;
}
