.frontRowWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.currentPocketInfo {
  font-size: 1.7em;
  font-weight: bold;
}

.pocketName {
  font-variant-numeric: tabular-nums;
  cursor: pointer;
}

.iconWrapper {
  max-width: 50px;
  max-height: 50px;
  margin-left: auto;
}

.currencyName {
  font-size: 0.9em;
}

.arrowDown {
  composes: arrowDown from '../AccountCard/AccountCard.module.css';
}
