.cards {
  flex-basis: auto;
}

.card {
  flex: 0 1;
}

.card {
  background: white;
  margin-bottom: 2em;
  border: 1px solid white;
  border-radius: 15px;
}

.cardContent {
  padding: 1.4em;
}

.cardContent p {
  font-size: 80%;
}

.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin: 0 0 4px 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.button {
  background-color: #f2f7fd;
  border: none;
  color: #396aff;
  font-weight: 500;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin: 4px 2px;
  border-radius: 12px;
}

.menuButtonWrapper {
  margin-top: 0.8em;
}

.insideButton {
  position: relative;
  bottom: 2px;
}
