.transactionWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.transIconWrapper {
  max-width: 30px;
  max-height: 30px;
}

.transItemWrapper {
  margin-left: 12px;
}

.transItemText {
  margin-left: auto;
}

.templateText {
  font-size: 1em;
  font-weight: 500;
  color: black;
}

.transTime {
  font-size: 0.8em;
  color: gray;
}

.exchangedAmountText {
  font-size: 0.8em;
  color: gray;
  float: right;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #ecf2f9;
  border-radius: 50%;
  display: inline-block;
  padding: 5px 0 1px 5px;
}
