.modal {
  position: absolute;
  top: 9em;
  left: 5em;
  right: 5em;
  bottom: 5em;
  max-height: 16em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  outline: none;
}

@media (max-width: 400px) {
  .modal {
    top: 9em;
    left: 2em;
    right: 2em;
    bottom: 3em;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(69, 66, 71, 0.247);
}

.closeIcon {
  padding: 1em;
  float: right;
  font-weight: bold;
  cursor: pointer;
}
