.cards {
  composes: cards from '../AccountCard/AccountCard.module.css';
}

.card {
  composes: card from '../AccountCard/AccountCard.module.css';
}

.cardContent {
  composes: cardContent from '../AccountCard/AccountCard.module.css';
}
