.header {
  margin-top: 1em;
  display: flex;
  margin-bottom: 2em;
}

.headerItem {
  width: 50%;
  font-size: 1.5em;
  font-weight: bold;
}

.headerItem:nth-of-type(2) {
  width: 50%;
  text-align: right;
  font-size: 1.4em;
}

.linkStyle {
  text-decoration: none;
}

.linkStyle:active {
  color: black;
}

.linkStyle:visited {
  color: black;
}
