.wrapper {
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
}

.wrapper:active {
  background-color: none;
}

.currencyText {
  font-size: 1.7em;
  font-weight: 500;
  cursor: pointer;
}
.balanceText {
  font-size: 0.8em;
  color: gray;
}

.arrowDown {
  composes: arrowDown from '../AccountCard/AccountCard.module.css';
}
