.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 1em;
  cursor: pointer;
}

.iconWrapper {
  margin-left: 1em;
  max-height: 3.1em;
}

.currencyDetailWrapper {
  margin-left: 12px;
}

.currencyDetail {
  margin-left: 'auto';
  padding-top: 2px;
}

.currencyName {
  font-size: 1em;
  font-weight: 500;
  color: black;
}

.abbreviation {
  font-size: 0.8em;
  color: gray;
}

.pocket {
  margin-left: auto;
  margin-right: 1em;
  padding-top: 2px;
  font-weight: 500;
}

.activeMarker {
  top: 30px;
  right: 15px;
  position: relative;
}
