.line {
  border-bottom: 1px solid gray;
}

.circle {
  height: 20px;
  width: 110px;
  border-radius: 15px;
  border: 2px solid;
  border-color: gray;
  background-color: white;
  font-size: 0.8em;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  color: #396aff;
}

.rateText {
  padding: 1px 4px;
}

.transferIcon{
  padding: 2px 3px;
}

.changeCircle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid;
  border-color: gray;
  background-color: white;
  font-size: 0.8em;
  margin-left: 1em;
  transform: translateY(50%);
  color: #396aff;
  cursor: pointer;
}
